# OS
.DS_Store

# git
.git*

# build
Makefile

# src
src/

# compile config
.eslintignore
.eslintrc.js
babel.config.json
tsconfig.json
tsconfig.types.json

# other files
docs/
examples/
support/
test/

# IDE
.idea
.vscode
